*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #333;
  text-align: center;
}

#simon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 450px;
  height: 450px;
  background: #050505;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  box-shadow: -5px 5px 10px black;
}

.green, .red, .blue, .yellow {
  width: 42%;
  height: 42%;
  position: absolute;
  filter: brightness(50%);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.green {
  background: #0f0;
  border-radius: 100% 0 0 0;
  box-shadow: inset 3px 3px 25px rgba(0, 0, 0, .5);
  top: 6%;
  left: 6%;
}
.red {
  background: #f00;
  border-radius: 0 100% 0 0;
  box-shadow: inset -3px 3px 25px rgba(0, 0, 0, .5);
  top: 6%;
  left: 52%;
}
.blue {
  background: #00f;
  border-radius: 0 0 100% 0;
  box-shadow: inset -3px -3px 25px rgba(0, 0, 0, .5);
  top: 52%;
  left: 52%;
}
.yellow {
  background: #ff0;
  border-radius: 0 0 0 100%;
  box-shadow: inset 3px -3px 25px rgba(0, 0, 0, .5);
  top: 52%;
  left: 6%
}
.center {
  border-radius: 50%;
  position: absolute;
  border: 20px solid #050505;
  background: #999;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
}

.center h1 {
  font-size: 3em;
  line-height: 1em;
  margin: .5em 0;
  font-family: 'Lobster';
}

.display, .start-button p, .strict-button p {
  margin: 0;
}

.display, .start-button, .strict-button {
  display: inline-block;
  margin-right: .5em;
  vertical-align: top;
}

.strict-button {
  margin-right: 0;
}

.display {
  border-radius: 4px;
  border: 2px solid #333;
  background: #111;
  color: #c00;
  font-weight: bold;
  width: 2.5em;
}

.start-button p, .strict-button p {
  font-size: .75em;
}

.start, .strict {
  border-radius: 50%;
  border: 3px solid #333;
  width: 20px;
  height: 20px;
  cursor: pointer;
  box-shadow: inset 1px -1px 1px rgba(0, 0, 0, .75);
}

.start {
  background: #c33;
}

.strict {
  background: #cc3;
}

.start:focus, .strict:focus {
  outline: none;
}

@media screen and (max-width: 680px) {
  .container {
    width: 300px;
    height: 300px;
  }

  .center h1 {
    font-size: 1.25em;
  }

  .display {
    font-size: .875em;
  }

  .start-button p {
    font-size: .675em;
  }
}
